<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>LIBRARY APP</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="./css/styles.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="./css/bootstrap.min.css">
	</head>
<body style="background-color: black;">
<header class="navbar navbar-bright navbar-fixed-top" role="banner" style="background-color: rgb(66, 62, 62);">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <%for(i=0;i<nav.length;i++){%>
            <li>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>
            <%}%>
        </ul>
      <ul class="nav navbar-right navbar-nav">
        <%for(i=0;i<nav1.length;i++){%>
            <li>
              <a href="<%=nav1[i].link%>"><%=nav1[i].name%></a>
            </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container" >
    <div class="row">
      <div >
       <center><br><br> <h1 style="font-family: 'Courier New', Courier, monospace; color: white; font-size: 80px;">BOOKSY</h1></center><br><br>
      </div>
      </div>
    </div> 
  </div><!-- /cont -->
  

<hr id="hh1"><br><br>
<div style="background-color: black;">
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
        <form class="signup2" action="/books/bookupdate" method="GET" style="border:1px solid #ccc">
            <div class="container2">
              <h1>UPDATE A BOOK</h1>
              <hr><br><br>
              <label for="text"><b>title :</b></label>
              <input type="text" placeholder="Enter title" name="title" required><br><br>
              <label for="text"><b>more :</b></label>
              <input type="text" name="more" required><br><br>
              <label for="text"><b>add image :</b></label>
              <input type="file" name="img" id="input" onchange="showFile()" accept="image/*"><br><br>
              <div class="clearfix">
                <button type="submit" id="submit" class="signupbtn button1">Done</button>
              </div>
            </div>
          </form> 
   	</div><!--/col-12-->
  </div>
</div>
                                                
</div>                                                                              

<footer >
    <div style="color:white; ">
          <p><center>copyright@library_app</center></p>         
    </div>
</footer>

	<!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</html>